<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h2>Confirmation required</h2>
            <p>A confirmation email has been sent to {{ email }}.  Please follow the instructions on the email to confirm your email address.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4>Didn't receive an email?</h4>
            <p>Have you checked your spam folder?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4>Resend confirmation email</h4>
            <div class="alert alert-danger" [innerHtml]="error" *ngIf="error"></div>
            <div class="alert alert-success" *ngIf="submitted">The confirmation email has been resent.</div>
            <form [formGroup]="confirmForm" (ngSubmit)="submit(confirmForm)">
                <div class="form-group" [ngClass]="{ 'has-error':confirmForm.controls.email.invalid && confirmForm.controls.email.dirty }">
                    <label class="control-label" for="email">Your email address</label>
                    <input class="form-control" formControlName="email" placeholder="Your email address" type="email" />
                </div>
                <div class="form-group">
                    <div recaptcha id="confirm-recaptcha" (recaptchaed)="recaptchaed($event)"></div>
                    <input class="invisible" formControlName="recaptcha" />
                </div>
                <div class="form-group-sm text-center">
                    <button class="btn btn-default" [disabled]="confirmForm.invalid || submitting" [ngClass]="{ 'ajax':submitting }" type="submit">Resend</button>
                </div>
            </form>
        </div>
    </div>
</div>