<div class="container-fluid">
    <h2>Reset Your Password</h2>
    <div class="row" *ngIf="!changed">
        <div class="col-xs-12">
            <form [formGroup]="newPasswordForm" (ngSubmit)="submit(newPasswordForm)">
                <div class="form-group" *ngIf="error">
                    <div class="alert alert-danger" [innerHtml]="error"></div>
                </div>
                <div class="form-group" formGroupName="passwords" [ngClass]="{ 'has-error':newPasswordForm.controls.passwords.controls.password.invalid && newPasswordForm.controls.passwords.controls.password.dirty }">
                    <label class="control-label" for="password">New password</label>
                    <input class="form-control" formControlName="password" #password placeholder="Password" type="password" />
                    <small>Minimum 6 characters</small>
                </div>
                <div class="form-group" formGroupName="passwords" [ngClass]="{ 'has-error':newPasswordForm.controls.passwords.dirty && newPasswordForm.controls.passwords.invalid }">
                    <label class="control-label" for="confirm">Repeat password</label>
                    <input class="form-control" formControlName="confirm" #confirm placeholder="Repeat password" type="password" />
                    <small class="has-error" *ngIf="newPasswordForm.controls.passwords.dirty && newPasswordForm.controls.passwords.invalid">Passwords do not match</small>
                </div>
                <div class="form-group">
                    <div recaptcha (recaptchaed)="recaptchaed($event)"></div>
                    <input class="invisible" formControlName="recaptcha" />
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-default" [disabled]="newPasswordForm.invalid || submitting" [ngClass]="{ 'ajax':submitting }" type="submit">Reset</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" *ngIf="changed">
        <div class="col-xs-12">
            <div class="alert alert-success">
                Your password has been changed
            </div>
        </div>
    </div>
</div>