<div class="container-fluid" *ngIf="!changed">
    <div class="row">
        <div class="col-xs-12">
            <h2>Change Your Password</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form [formGroup]="newPasswordForm" (ngSubmit)="submit(newPasswordForm)">
                <div class="form-group" formGroupName="passwords" [ngClass]="{ 'has-error':newPasswordForm.controls.passwords.controls.password.invalid && newPasswordForm.controls.passwords.controls.password.dirty }">
                    <label class="control-label" for="password">New password</label>
                    <input class="form-control" formControlName="password" #password placeholder="Password" type="password" />
                    <small>Minimum 6 characters</small>
                </div>
                <div class="form-group" formGroupName="passwords" [ngClass]="{ 'has-error':newPasswordForm.controls.passwords.dirty && newPasswordForm.controls.passwords.invalid }">
                    <label class="control-label" for="confirm">Repeat password</label>
                    <input class="form-control" formControlName="confirm" #confirm placeholder="Repeat password" type="password" />
                    <small class="has-error" *ngIf="newPasswordForm.controls.passwords.dirty && newPasswordForm.controls.passwords.invalid">Passwords do not match</small>
                </div>
                <div class="form-group">
                    <div [recaptcha]="recaptchaKey" (recaptchaed)="recaptchaed($event)"></div>
                    <input class="invisible" formControlName="recaptcha" />
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-default" [disabled]="newPasswordForm.invalid || submitting" [ngClass]="{ 'ajax':submitting }" type="submit">Sign In</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="changed">
    <h4>Your password has been changed</h4>
</div>